@use "../../variables-mixins" as *;

main {
    width: 100%;
    min-height: 100vh;
    background: $radial-gradient;
    padding: 20px;
    overflow: auto;

    @include font;
    @include flex(column, space-around, center);
}

/*
    Form elements don't always inherit font-family, 
    so we should set it explicitly 
*/
input,
button,
textarea,
select {
    font: inherit;
}

// Header Component
header {
    width: 50%;
    height: 150px;
    overflow: hidden;
    padding: 20px;

    @include border(2px, $gray-600);
    @include shadow-radius(10px);
    @include flex(row, space-between, center);

    .score {
        width: 120px;
        height: 100%;
        background-color: white;

        @include flex(column, center, center);
        @include shadow-radius;

        h2 {
            font-size: 12px;
            font-weight: 600;
            color: $blue-700;
            letter-spacing: 1px;
        }

        p {
            font-size: 46px;
            font-weight: bold;
            color: $gray-600;
        }
    }
}

// Play Component
.gamePlay {
    width: 100%;
}

.pentagon-container {
    width: 100%;
    height: 500px;

    @include flex;
}

.pentagon {
    position: relative;
    @include flex;

    img {
        object-fit: cover;
    }

    .btn {
        position: absolute;
        width: 135px;
        height: 135px;
        border-radius: 50%;
        cursor: pointer;
        @include flex;

        img {
            width: 50%;
            height: 50%;
        }
    }

    .scissors {
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include border(15px, $gold-500);
    }

    .paper {
        top: 37%;
        right: 0%;
        transform: translate(50%, -50%);

        @include border(15px, $blue-500);
    }

    .spock {
        top: 37%;
        left: 0%;
        transform: translate(-50%, -50%);

        @include border(15px, $light-blue-400);
    }

    .rock {
        bottom: -17%;
        right: 0;

        @include border(15px, $red-600);
    }

    .lizard {
        bottom: -17%;
        left: 0;

        @include border(15px, $purple-600);
    }
}

// Bottom Component
footer {
    width: 90%;
    height: 50px;

    @include flex(row, space-between, center);

    .back,
    .rules {
        width: 130px;
        height: inherit;

        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;

        font-weight: bold;
        color: white;
        line-height: 0.8;
        letter-spacing: 1.1px;

        @include border(2px, $gray-600);
        @include shadow-radius(10px);

        &:active {
            transform: translateY(4px);
        }
    }

    .back {
        @include flex(row, space-evenly, center);
    }
}

@media (max-width: 900px) {
    header {
        width: 90%;
    }
}

@media (max-width: 400px) {
    header {
        width: 95%;

        .play-option-logo {
            img {
                width: 80px;
            }
        }

        .score {
            width: 100px;
            height: 100%;
            background-color: white;

            @include flex(column, center, center);
            @include shadow-radius;

            h2 {
                font-size: 12px;
                font-weight: 600;
                color: $blue-700;
                letter-spacing: 1px;
            }

            p {
                font-size: 46px;
                font-weight: bold;
                color: $navy-900;
            }
        }
    }
}
